@model IEnumerable<AeroSrm.Models.Product>

@{
    ViewData["Title"] = "Products List";
}

<h2>Products</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">New Product</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeUnitMeasure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeStockLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ProductID">@Html.DisplayFor(modelItem => item.ProductName)</a>
</td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeUnitMeasure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafeStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger btn-xs" title="Delete"> X </a>
        </td>
    </tr>
}
</table>
